h1 {
    font-size: small;
    float: top left;
    width: 750px;
}

.box {
    border: 1px solid black;
    width: 720px;
    height: 75px;
    padding: 10px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    margin-right: 50px;
    text-decoration-color: black;
}

link {
    background-image: image(1);
}

.image {
    position: relative;
    width: 100%;
}

h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    color: red;
    text-align: center;
    font-size: 30px;
    right: 1%;
    left: 10%;
}

p {
    position: absolute;
    top: 25%;
    left: 50%;
    color: red;
    text-align: center;
    font-size: 30px;
    right: 10%;
    left: 10%;
}

p2 {
    position: absolute;
    top: 58%;
    left: 1%;
    color: black;
    text-align: left;
    font-size: 27px;
    right: 1%;
    left: 1%;
}

h3 {
    position: absolute;
    top: 48%;
    left: 1%;
    color: black;
    text-align: left;
    font-size: 30px;
    right: 1%;
    left: 1%;
}
